name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
          
      - name: Publish
        # ТУК: Увери се, че си в правилната папка. Ако проектът е в подпапка, сложи cd ИМЕ_ПАПКА &&
        run: dotnet publish -c Release -o release
        
      - name: Fix 404
        run: cp release/wwwroot/index.html release/wwwroot/404.html
        
      - name: Upload to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: release/wwwroot
          branch: gh-pages 